.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1;
}

.left-section {
  display: flex;
  align-items: center;
  padding-top: 1px;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 59px;
  margin-right: 40px;
  max-width: 650px;
  display: flex;
  align-items: center;
  padding-top: 1px;
}

.search-bar {
  flex: 1;
  height: 36px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-right: none;
  border-color: rgb(204, 204, 204);
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.04);
  width: 0;
}

.search-bar::placeholder {
  font-size: 16px;
  padding-left: 14px;
  color: rgb(154, 154, 154);
}

.keyboard-button {
  height: 40px;
  border-left: none;
  border-right: none;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.04);
  background-color: white;
}

.keyboard-button img {
  height: 22px;
  width: 22px;
  margin-right: 3px;
  margin-top: 5px;
}

.search-button {
  height: 40px;
  width: 64px;
  background-color: rgb(246, 246, 246);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 196, 196);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-left: -1px;
  margin-right: 8px;
  position: relative;
}

.search-button .tooltip {
  position: absolute;
  background-color: grey;
  color: white;
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: 0px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  z-index: 2;
  bottom: -15px;
}

.search-button:hover {
  cursor: pointer;
  background-color: rgb(238, 238, 238);
}

.search-button:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 24px;
  margin-top: 4px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(248, 248, 248);
}

.voice-search-icon {
height: 24px;
margin-top: 4px;
}

.right-section {
  width: 133px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 46px;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
  margin-top: 1px;
  margin-left: -1px;
}

.notifications-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
  margin-right: 6px;
  margin-top: 5px;
}

.notifications-count {
  position: absolute;
  top: -4px;
  right: -8px;
  background-color: rgb(208, 0, 0);
  color: white;
  font-size: 12px;
  font-weight: 200;
  padding-left: 4.7px;
  padding-right: 4.7px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 10px;
  border: solid;
  border-width: 2px;
  border-color: white;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
  margin-top: 1px;
}